{% extends 'ComicsApp/index.html' %}


{% load static %}
<img src="{{ avatar }}" alt="avatar" style="width:50px;height:50px; text-decoration-color:black"/>  
{% block content %}

<header class="masthead static-top " style=" background-image: url('static/assets/img/fondo_comics.jpg')">
    <head >
    
            {% block title %} <h1 class=""  > Busque sus Comics preferidos  </h1>{% endblock %}
    
    </head>

</header>
<h2>LISTADO DE COMICS</h2>
<div class="container text-center">
    <div class="row">
        {% for comic in object_list %}
        <div class="col-sm-6 align-items-center">
            <div class="card-body">
                {{ comic.name }}
                <a href="{% url 'comic_detail_list' comic.id %}"><i class="bi bi-eye"></i></a>
               {% if user.username == 'admin' %}
                    <a href="{% url 'comic_update' comic.id %}"><i class="bi bi-pencil-fill"></i></a>
                    <a href="{% url 'comic_delete' comic.id %}"><i class="bi bi-trash text-danger"></i></a>
                {% endif %}
                <p><img src="{{comic.cover_image.url}}"  style="width: 300px; height: 425px" alt="Cover"></p>

            </div>
        </div>
        {% endfor %}
    </div>       
</div>

    <br>
    <br>
    <a class="btn btn-primary"  href="{% url 'comic_creation'  %}">Ingresar nuevo Comic</a>
   
    


<h3>{{ message }}</h3>
{% endblock %}