{% extends "ComicsApp/home.html" %}
{% load static %}
<head>
    {% load static %}
    {% block icon %}
        <link rel="icon" type="image/x-icon" href="static/assets/author_icon.png" />
    {% endblock %}
    {% block title %} Busque sus Comics preferidos {% endblock %}
</head>
{% block content %}
<h2>LISTADO DE Comics</h2>
<ul>

    
    <table  style="border: 2px solid black">
        <thead style="border: 2px solid black">
            <tr style="border: 2px solid black">
                <th style="text-align: center;background-color:rebeccapurple ;border: 2px solid black">Nombre</th>
                <th style="text-align: center;background-color:rebeccapurple ;border: 2px solid black">Editorial</th>
                <th style="text-align: center;background-color:rebeccapurple ;border: 2px solid black">Autor</th>
                <th style="text-align: center;background-color:rebeccapurple ;border: 2px solid black">Año de Publicación</th>
                <th style="text-align: center; color:aliceblue; background-color:blue ;border: 2px solid black">Modificar</th>
                <th style="text-align: center;background-color:red ;border: 2px solid black">Eliminar</th>
            </tr>
        </thead>
    {% for comic in object_list %}
        <tbody style="border: 2px solid black">
            <tr style="border: 2px solid black">
                <td style="text-align: center; border: 2px solid black"> 
                    {{ comic.name }}
                </td>
                <td style="text-align: center;border: 2px solid black">
                    {{ comic.editorial.name }}
                </td>
                <td style="text-align: center;border: 2px solid black">
                    {{ comic.author.name}}
                </td>
                <td style="text-align: center;border: 2px solid black">
                    {{ comic.published_year}}
                </td>
                <td>
                    <a class="btn btn-success" style="text-align: center; color:aliceblue; background-color:blue" href="{% url 'comic_update' comic.id %}">Modificar</a>
                </td>
                <td style="text-align: center;border: 2px solid black">
                    <a class="btn btn-danger" href="{% url 'comic_delete' comic.id %}">Borrar</a>
                </td>
            </tr>
        </tbody>
    
    {% endfor %}
    </table>
    
    
    <br>
    <br>
    <a class="btn btn-primary"  href="{% url 'comic_creation'  %}">Ingresar nuevo Comic</a>
   
    


</ul>
<h3>{{ message }}</h3>
{% endblock %}