{% extends "ComicsApp/home.html" %}
{% load static %}
<head>
    {% load static %}
    {% block icon %}
        <link rel="icon" type="image/x-icon" href="static/assets/author_icon.png" />
    {% endblock %}
    {% block title %} Busque a sus Editoriales preferidas {% endblock %}
</head>
{% block content %}
<h2>LISTADO DE Editoriales</h2>
<ul>

    
    <table  style="border: 2px solid black">
        <thead style="border: 2px solid black">
            <tr style="border: 2px solid black">
                <th style="text-align: center;background-color:rebeccapurple ;border: 2px solid black">Nombre</th>
                <th style="text-align: center;background-color:rebeccapurple ;border: 2px solid black">Rol</th>
                <th style="text-align: center;background-color:rebeccapurple ;border: 2px solid black">Actualmente Activo</th>
                <th style="text-align: center; color:aliceblue; background-color:blue ;border: 2px solid black">Modificar</th>
                <th style="text-align: center;background-color:red ;border: 2px solid black">Eliminar</th>
            </tr>
        </thead>
    {% for editorial in object_list %}
        <tbody style="border: 2px solid black">
            
            <tr style="border: 2px solid black">
                <td style="text-align: center; border: 2px solid black"> 
                    {{ editorial.name }}
                </td>
                <td style="text-align: center;border: 2px solid black">
                    {{ editorial.country }}
                </td>
                <td style="text-align: center;border: 2px solid black">
                    {{ editorial.state }}
                </td>
                <td>
                    <a class="btn btn-success" style="text-align: center; color:aliceblue; background-color:blue" href="{% url 'editorial_update' editorial.id %}">Modificar</a>
                </td>
                <td style="text-align: center;border: 2px solid black">
                    <a class="btn btn-danger" href="{% url 'editorial_delete' editorial.id %}">Borrar</a>
                </td>
            </tr>
        </tbody>
    
    {% endfor %}
    </table>
    
    
    <br>
    <br>
    <a class="btn btn-primary"  href="{% url 'editorial_creation'  %}">Ingresar nueva Editorial</a>
   
    


</ul>
<h3>{{ message }}</h3>
{% endblock %}